<div class="container-fluid container-fluid-custom py-md-5 mb-5 ">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="fs-4 mb-4">
                    Welcome to our cutting-edge note-taking website! Capture, organize, and access your thoughts effortlessly with our intuitive interface. Stay organized with robust categorization and tagging. Collaborate seamlessly with real-time editing and sharing features. Enjoy privacy and security with advanced encryption. Access your notes across devices for ultimate flexibility. Experience enhanced productivity and efficiency today!
                </h1>
                
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes its free.</a>
            </div>
        </div>
    </main>
</div>
